#waveformContainer{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100px;  width: 100%;
  background: transparent;
}

#waveform-and-plugins{
  flex:1;
}
#waveform{
  position:relative; /* For cursor plugin */
}


#waveformContainer .playButton {
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  background: #EFEFEF;
  border-radius: 50%;
  border: none;
  outline: none;
  cursor: pointer;
  padding-bottom: 3px;
}

#waveformContainer .playButton:hover {
  background: #DDD;
}